<div class="containerFooter container-fluid mt-5 mb-5">
    <div class=" logoFooter d-flex justify-content-evenly">
    <img src="{{ asset('assets/images/logo-cpf.png') }}" alt="CPF logo">
     <img src="{{ asset('assets/images/logo-qualiopi.png') }}" alt="qualiopi logo">
        <img src="{{ asset('assets/images/logo-permis-1euro.png') }}"alt="Permis à 1€ logo">
    </div>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col mt-5 pb-5 text-start">
                <img src="{{ asset('assets/images/logoPerformance.png') }}" alt="Performance logo">
                <p class="mt-3"> Site conçu et réalisé par Hauviller Cédric</p>
            </div>
            <div class="col text-start">
                <h5>Nos prestations</h5>
                <hr>
                <ul>
                    <li><a class="liFooter" href="{{ path('app_licence_b_index') }}">Permis B</a></li>
                    <li><a class="liFooter" href="{{ path('app_licence_bea_index') }}">Permis boite auto</a></li>
                    <li><a class="liFooter" href="{{ path('app_licence_aac_index') }}">Conduite accompagnée</a></li>
                    <li><a class="liFooter" href="{{ path('app_licence_bsup_index') }}">Conduite supervisée</a></li>
                    <li><a class="liFooter" href="{{ path('app_perfectionnement_index') }}">Perfectionnement</a></li>
                    <li><a class="liFooter" href="{{ path('app_gateway_index') }}">Passerelle vers permis B</a></li>
                </ul>
            </div>
            <div class="col text-start">
                <h5>Performance et financements</h5>
                <hr>
                <ul>
                    <li><a class="liFooter" href="{{ path('app_philosophy_index') }}">Philosophie</a></li>
                    <li><a class="liFooter" href="{{ path('app_team_index') }}">Notre équipe</a></li>
                    <li><a class="liFooter" href="{{ path('app_agencies_index') }}">Nos agences</a></li>
                    <li><a class="liFooter" href="{{ path('app_contact_index') }}">Contact</a></li>
                    <li><a class="liFooter" href="{{ path('app_euro_index') }}"> Permis à 1€</a></li>
                    <li><a class="liFooter" href="{{ path('app_personnel_index') }}">CPF</a></li>
                </ul>
            </div>
            <div class="col text-start">
                <h5>Nous suivre</h5>
                <hr>
                <ul>
                    <li>
                        <a href="https://fr-fr.facebook.com/AutoEcolePerformance68/" target="_blank" class="social-icon">
                            <i class="fa-brands fa-facebook fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@autoecoleperformance/" target="_blank" class="social-icon">
                            <i class="fa-brands fa-tiktok fa-lg"></i>
                        </a>
                    </li>
                    <li><a href="https://www.instagram.com/auto.ecoleperformance?igsh=MTJ4ZmZjNTlzNGpxNA==" target="_blank" class="social-icon">
                            <i class="fa-brands fa-instagram fa-lg"></i>
                        </a>
                    </li>
                    <li><a href="tel:+33 (0)389311290" class="social-icon">
                            <i class="fa-solid fa-phone fa-lg"></i>
                        </a>
                    </li>
                    <li><a href="mailto:performance@gmail.com" class="social-icon">
                            <i class="fa-solid fa-at fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>