{% extends 'base.html.twig' %}

{% block title %}La conduite accompagnée{% endblock %}

{% block body %}
    <div class="bannerLicenceAAC"></div>

    <section>
        <div class="containerLicenceAAC container text-start">
            <div class="containerDirectionHome container text-start mt-3">
                <p><a href="{{ path('app_homepage_index') }}">Accueil</a> > Conduite accompagnée </p>
            </div>
            <hr class="firstHr mb-5 mt-5">
            <h1 class="h1Color">La conduite accompagnée</h1>
            <p>À partir de l'âge de 15 ans, en optant pour la conduite accompagnée, vous avez la possibilité d'acquérir de l'expérience au volant d'un véhicule de catégorie B, tout en étant accompagné par un tuteur. Cette démarche vous permet d'accumuler un maximum d'expérience avant de passer l'examen du permis de conduire.</p>
            <p>Plus de pratique engendre plus de confiance, ce qui augmente vos chances de devenir un conducteur compétent et responsable !</p>
            <hr class="hrH1 mb-5">
            <h1 class="h1Color"> les conditions à remplir pour pouvoir suivre la filière de la conduite accompagnée</h1>
            <p>Les conditions suivantes:</p>
            <ul class="ulWhite">
                <li>Être âgé d'au moins 15 ans.</li>
                <li>Obtenir l'accord de son représentant légal.</li>
                <li>Obtenir l'accord de l'assureur du véhicule.</li>
            </ul>
            <hr class="hrH1 mb-5">
            <h1 class="h1Color">Pourquoi choisir la conduite accompagnée?</h1>
            <p>La conduite accompagnée représente un mode d'apprentissage privilégié en raison des nombreux avantages qu'elle offre.</p>
            <ul class="ulWhite">
            <li>Une accidentalité réduite.</li>
            <li>Un taux de réussite élévé à l'examen pratique du permis de conduire.</li>
            <li>Le passage de l'examen a partir de 17 ans</li>
            <li>Une confiance optimisée au volant.</li>
            <li>Les candidats ayant suivi la conduite accompagnée bénéficient d'une période de permis probatoire (jeune conducteur) réduite à 2 ans, comparativement à 3 ans pour la filière traditionnelle.</li>
            <li>Des tarifs préférentiels pour assurer son véhicule.</li>
            </ul>
            <hr class="hrH1 mb-5">
            <h1 class="h1Color">Contenu pédagogique</h1>
            <div class="accordion" id="accordionExample">
                <!-- Accordion Item #1 -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            La formation initiale
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class=" accordionColor accordion-body">
                            <p>Celle-ci comprend:</p>
                            <ul class="ulWhite">
                                <li>
                                    La préparation et le passage du code de la route (épreuve théorique générale du permis de conduire) sont des étapes essentielles.</li>
                                <li>la formation initiale à la conduite automobile comprend une évaluation initiale d'une heure pour déterminer le volume prévisionnel et personnalisé nécessaire à l'élève, suivie d'une formation d'au moins 20 heures (dont 13 heures sont obligatoires pour un apprentissage sur boîte automatique) dispensée sur l'un de nos véhicules écoles. Cette formation se poursuit jusqu'à ce que le niveau de l'élève soit jugé satisfaisant par l'un de nos enseignants. Une fois ce niveau atteint, l'enseignant délivre à l'élève une attestation de fin de formation initiale, prouvant que celui-ci est prêt à commencer la conduite accompagnée avec un accompagnateur.</li>
                            </ul>
                            <p> C'est a cet instant que la phase de conduite accompagnée peut demarrer</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            La phase de conduite accompagnée
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordionColor accordion-body">
                            <p class="decorationLicenceAAC">Le rendez-vous préalable</p>
                            <p>Pendant cette phase, un rendez-vous préalable avec l'accompagnateur est nécessaire, d'une durée minimale de 2 heures. C'est la première rencontre de l'élève avec le moniteur et l'accompagnateur. L'accompagnateur bénéficie des conseils et des informations fournis par notre moniteur afin d'assurer une continuité dans la formation.</p>
                            <p class="decorationLicenceAAC">Le phase de conduite accompagnée</p>
                            <p>Pendant la phase de conduite accompagnée, une durée minimale d'un an est requise, durant laquelle l'élève doit parcourir au moins 3 000 kilomètres sous la supervision et les conseils d'un accompagnateur.</p>
                            <p>Nous assurerons le suivi de la formation par le biais de 2 rendez-vous pédagogiques obligatoires avec l'élève :</p>
                            <ul class="ulWhite">
                                <li>Le premier rendez-vous aura lieu entre 4 et 6 mois après la fin de la formation initiale. Cette période devrait normalement correspondre à un parcours d'au moins 1000 kilomètres de conduite accompagnée.</li>
                                <li>Le deuxième rendez-vous se tiendra dans les 2 mois précédant la fin de la période de conduite accompagnée. Il est prévu lorsque l'élève a parcouru 3000 kilomètres ou plus.</li>
                            </ul>
                            <p>Ces deux rendez-vous pédagogiques nous permettront de mesurer les progrès de l'élève et d'approfondir, en présence de l'accompagnateur, ses connaissances en matière de sécurité routière.</p>
                            <p>Chaque rendez-vous pédagogique a une durée de 3 heures et se compose de deux phases :</p>
                            <ul class="ulWhite">
                                <li>une phase en circulation d'une heure sur l'un de nos véhicules auto-écoles, comprenant une évaluation de la conduite de l'élève ;</li>
                                <li>un entretien individuel ou en groupe portant sur les expériences vécues pendant la conduite accompagnée et des thèmes relatifs à la sécurité routière.</li>
                            </ul>
                            <p>Au terme du deuxième rendez-vous pédagogique, notre enseignant décidera si le candidat est prêt ou non à se présenter à l'examen pratique du permis de conduire (sous réserve d'avoir rempli les conditions de kilométrage parcouru, de durée et d'âge, notamment).</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="hrH1 mb-5">
            <h1 class="h1Color"> Critères pour devenir accompagnateur</h1>
            <p>Un accompagnateur doit impérativement:</p>
            <ul class="ulWhite">
                <li>Détenir le permis de conduire de catégorie B depuis au moins cinq ans sans interruption.</li>
                <li>Avoir reçu l'accord de son assureur.</li>
                <li>Ne pas avoir été condamné pour certains délits tels que homicides et blessures involontaires, conduite en état d'ivresse, délit de fuite, etc.</li>
                <li>Être spécifiquement mentionné dans le contrat conclu avec notre école de conduite.</li>
                <li>Participer à l'évaluation finale de la formation initiale de l'apprenti conducteur.</li>
            </ul>
            <p>L'élève a la possibilité d'avoir plusieurs accompagnateurs, y compris en dehors du cadre familial.</p>
            <hr class="hrH1 mb-5">
        </div>
    </section>

    <section>
        <div class="containerPriceLicenceAAC container">
            <div class="rowFeeLicenceAAC row">
                <div class="col-md-6 order-md-1">
                    <!-- Tableau 1 : Tarifs -->
                    <table class="tableLicenceAAC table">
                        <tbody>
                        <tr>
                            <td class="table-danger">Inscription à l'auto-école</td>
                            <td class="table-danger">{{ licenceAAC.inscriptionFee }}€</td>
                        </tr>
                        <tr>
                            <td class="table-danger">Forfait code</td>
                            <td class="table-danger">{{ licenceAAC.codePackage }}€</td>
                        </tr>
                        <tr>
                            <td class="table-danger">Forfait conduite (pour 20 heures de conduite)</td>
                            <td class="table-danger">{{ licenceAAC.driving * 20 }}€</td>
                        </tr>
                        <tr>
                            <td class="table-danger">Livret de conduite</td>
                            <td class="table-danger">{{ licenceAAC.book }}€</td>
                        </tr>
                        <tr>
                            <td class="table-danger">Passage de l'examen pratique</td>
                            <td class="table-danger">{{ licenceAAC.drivingTest }}€</td>
                        </tr>
                        <tr>
                            <td class="table-danger">Rendez-vous préalable</td>
                            <td class="table-danger">{{ licenceAAC.preliminaryMeeting }}€</td>
                        </tr>
                        <tr>
                            <td class="table-danger">Premier rendez-vous pédagogique</td>
                            <td class="table-danger">{{licenceAAC.firstPedagogicalMeeting }}€</td>
                        </tr>
                        <tr>
                            <td class="table-danger">Second rendez-vous pédagogique</td>
                            <td class="table-danger">{{licenceAAC.secondPedagogicalMeeting }}€</td>
                        </tr>
                        <tr>
                            <td class="table-danger" colspan="2"><strong>Total du forfait:</strong></td>
                        </tr>
                        <tr>
                            <td class="table-danger text-end" colspan="2"><strong>{{ licenceAAC.inscriptionFee + licenceAAC.codePackage + (licenceAAC.driving * 20) + licenceAAC.book + licenceAAC.drivingTest + licenceAAC.preliminaryMeeting + licenceAAC.firstPedagogicalMeeting + licenceAAC.secondPedagogicalMeeting }}€</strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Tableau 2 : Tarif unitaire code -->
                    <table class="tableLicenceAAC table">
                        <tbody>
                        <tr>
                            <td class="table-info">Tarif unitaire code:</td>
                            <td class="table-info"></td>
                        </tr>
                        <tr>
                            <td class="table-info">Livre de code</td>
                            <td class="table-info">{{ licenceAAC.codeBook }}€</td>
                        </tr>
                        <tr>
                            <td class="table-info">Passage de l'éxamen théorique</td>
                            <td class="table-info">{{ licenceAAC.codeTest }}€</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Tableau 3 : Tarif unitaire conduite et examen -->
                    <table class="tableLicenceAAC table">
                        <tbody>
                        <tr>
                            <td class="table-active">Tarif unitaire conduite et examen:</td>
                            <td class="table-active"></td>
                        </tr>
                        <tr>
                            <td class="table-active">Heure de conduite</td>
                            <td class="table-active">{{ licenceAAC.driving }}€</td>
                        </tr>
                        <tr>
                            <td class="table-active">Livret mécanique</td>
                            <td class="table-active">{{ licenceAAC.inspectionsBook }}€</td>
                        </tr>
                        <tr>
                            <td class="table-active">Atelier mécanique</td>
                            <td class="table-active">{{ licenceAAC.inspectionWorkshop }}€</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Tableau 4 : Tarif Unitaire administratif -->
                    <table class="tableLicenceAAC table">
                        <tbody>
                        <tr>
                            <td class="table-primary">Tarif Unitaire administratif:</td>
                            <td class="table-primary"></td>
                        </tr>
                        <tr>
                            <td class="table-primary">Fabrication du permis</td>
                            <td class="table-primary">{{ licenceAAC.card }}€</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 order-md-2">
                    <h3 class="titleFeeLicenceAAC">Tarifs et Conditions de Conduite Accompagnée</h3>
                    <p>Il est crucial de souligner que le forfait présenté ici est indicatif. Le coût total du permis peut varier selon le parcours de chaque élève. Seuls nos instructeurs sont qualifiés pour déterminer le moment propice pour passer l'examen pratique. Par conséquent, le nombre d'heures de conduite nécessaire peut différer d'une personne à l'autre.</p>
                    <p>Nous proposons également des facilités de paiement pour vous aider à gérer les dépenses liées à l'obtention de votre permis de conduire. N'hésitez pas à discuter avec notre équipe afin de trouver la solution qui vous convient le mieux.</p>
                    <p>En outre, nous nous engageons à vous offrir une formation de qualité, en conformité avec les normes en vigueur, afin de vous préparer de manière optimale à l'examen du permis de conduire. Votre réussite est notre priorité absolue.</p>
                    <p>Il est essentiel de prendre attentivement en considération les conseils et les instructions de votre accompagnateur tout au long de votre formation. Il ou elle possède l'expertise nécessaire pour évaluer vos progrès et vous guider de manière adéquate. En lui faisant confiance et en suivant ses recommandations, vous maximiserez vos chances de réussir l'examen du permis de conduire et vous deviendrez un conducteur plus compétent et plus confiant sur la route.</p>
                    <p>Enfin, il est crucial pour l'apprenti conducteur de disposer d'un ou plusieurs accompagnateurs engagés durant sa période de conduite accompagnée. Toujours en phase d'apprentissage, il doit développer ses compétences tout en adoptant les bonnes attitudes au volant.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="secondContainerLicenceAAC container text-start">
            <h1 class="h1Color">Réglementation a respecter lors de la phase de conduite accompagnée</h1>
            <p>
                Pendant la période de conduite accompagnée, il est impératif de respecter un ensemble de règles spécifiques.</p>
            <ul class="ulWhite">
                <li>Utiliser un véhicule équipé de deux rétroviseurs latéraux est requis.</li>
                <li>Ne pas excéder les limitations de vitesse maximales autorisées pour les élèves conducteurs et les jeunes conducteurs, à savoir :</li>
                <li>110 km/h sur les sections d'autoroutes où la limite normale est de 130 km/h ;</li>
                <li>100 km/h sur les sections d'autoroutes où cette limite est inférieure, ainsi que sur les routes à deux chaussées séparées par un terre-plein central ;</li>
                <li>80 km/h sur les autres routes ;</li>
                <li>50 km/h en agglomération ;</li>
                <li>Apposer de manière visible, à l'arrière du véhicule, le disque de conduite accompagnée ;</li>
                <li>Avoir en permanence avec soi lors de la conduite accompagnée le livret d'apprentissage, le cerfa02 (formulaire de demande de permis de conduire) et le document d'extension de garantie de l'assurance. Ces deux derniers documents servent de justificatif en cas de contrôle par les forces de l'ordre ;</li>
                <li>Rester sur le territoire national./li>
            </ul>
        </div>
    </section>
{% endblock %}
